<div id="<%= dom_id actor %>">
  <p>
    <strong>Nome:</strong>
    <%= actor.name %>
  </p>
  <ul>
    <li>
      <p>
        <strong>Ano de Nascimento:</strong>
        <%= actor.birth_date %>
      </p> 
    </li>
    <li>
      <p>
        <strong>Email:</strong>
        <%= actor.email %>
      </p>
    </li>
  </ul>
</div>
