<p style="color: green"><%= notice %></p>

<h1>Atores</h1>

<div id="actors">
  <% @actors.each do |actor| %>
    <%= render actor %>
    <p>
      <%= link_to "Exibir detalhes do ator", actor %>
    </p>
  <% end %>
</div>

<%= link_to "Adicionar Ator", new_actor_path %>
