<div id="<%= dom_id comment %>">
  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= comment.status %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= comment.movie.title %>
  </p>
  <!-- To do: quando clicar no botão abaixo dar um Update no Comment algo assim: Comment.update(status: true) -->
  <button> Aprovar comentário </button>
</div>
