<div id="<%= dom_id comment %>">
  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= comment.status %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= comment.movie_id %>
  </p>

</div>
