<p style="color: green"><%= notice %></p>

<h1>Filmes</h1>
<%= link_to "Adicionar novo Filme", new_movie_path %>  

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Detalhes do Filme", movie %>
    </p>
  <% end %>
</div>

