<p style="color: green"><%= notice %></p>

<h1>Logs</h1>

<div id="logs">
   <% @logs.each do |log| %>
        <div>
            <p> <strong> Comentário:</strong> <%= log.comment.text.truncate(40)%></p>
            <ul>
                <li> 
                    <p> Aprovado na data:
                        <%= log.approved_date %>
                    <p>
                </li>
                <li>
                <p> Comentário do filme:
                    <%= log.comment.movie.title %>
                </p>
                </li>
            </ul>
        </div>
    <% end %>
</div>


