<p style="color: green"><%= notice %></p>

<h1>Logs</h1>

<div id="logs">
   <% @logs.each do |log| %>
        <div>
            <p>Comentário: <%= log.comment.text.truncate(40)%></p>
            <p> Aprovado na data:
                <%= log.approved_date %>
            <p>
            <p> Comentário do filme:
                <%= log.comment.movie.title %>
            </p>
        </div>
    <% end %>
</div>


