<header>
    <nav>
        <%= link_to "Filmes", movies_path %>
        <%= link_to "Atores", actors_path %>
        <%= link_to "Comentários", comments_path %>
        <%= link_to "Logs", logs_path %>
    </nav>
 </header>
<style>
    nav {
        gap:2rem;
    }
</style>